.Main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;

  &-about {
    margin-top: 20px;
    img {
      width: 240px;
      height: 240px;
    }
    &-title {
      margin-top: 30px;
      h3 {
        padding-bottom: 10px;
      }
      h4 {
        padding-bottom: 10px;
      }
      button {
        width: 100px;
        height: 36px;
        border: 1px solid rgba(27, 31, 35, 0.2);
        background: none;
        background-color: #eff3f6;
        background-image: linear-gradient(-180deg, #fafbfc 90%);
        border-radius: 3px;
      }
    }
    &-dsc {
      margin-top: 16px;
    }
  }

  &-projects {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    margin-top: 40px;
    margin-left: 40px;

    &-links {
      display: flex;
      justify-content: space-between;
      a {
        color: #586069;
        font-size: 14px;
      }
    }

    .Section {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      a {
        font-size: 12px;
        color: #586069;
      }
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    &-bar {
      width: 100%;
      max-width: 300px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: red;
      text-align: left;

      .up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        color: #0366d6;
        .right {
          svg {
            position: relative;
            right: 10px;
          }
        }
      }

      .down {
        margin-top: 10px;
        font-size: 14px;
        color: #586069;
        display: flex;
        align-items: center;
        span {
          background-color: #563d7c;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          display: inline-block;
          margin-right: 5px;
        }

        p {
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }
  }
}
